.aside {
  font-family: Cinzel, sans-serif;
  font-weight: 700;
  font-style: Bold;
  vertical-align: middle;
  text-transform: uppercase;
  padding: 50px 120px;
  background-color: #d12d35;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  opacity: 0;
  pointer-events: none;
}

@media (max-width: 1260px) {
  .aside {
    padding: 50px 72px;
  }
}

@media (max-width: 744px) {
  .aside {
    padding: 20px 25px;
  }
}

.aside:target {
  opacity: 1;
  pointer-events: all;
}

.aside-menu {
  margin-top: 55px;
  display: grid;
  gap: 24px;
}

.aside-contact {
  width: 201;
  height: 156;
  display: grid;
  gap: 8px;
  margin-top: 48px;
  &-number {
    color: #fff;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0;
    padding: 0;
  }

  &-link {
    margin-top: 16px;
    size: 12px;
    line-height: 16px;
  }
}

.aside-menu-link {
  font-size: 22px;
  line-height: 22px;
}

.aside-link {
  position: relative;
  width: fit-content;
  display: inline-block;

  letter-spacing: 2px;
  color: #fff;
  cursor: default;
  text-decoration: none;
}

.aside-link::after {
  display: block;
  content: '';
  margin-top: 8px;
  background-color: #fff;
  height: 1px;
  width: 100%;
  position: absolute;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.aside-link:hover::after {
  visibility: visible;
  transform: scaleX(1);
}
