
@media (max-width: 1260px) {
  .contacts {
    width: 600px;
  }
}

@media (max-width: 744px) {
  .contacts {
    width: 280px;
  }
}

.contacts {
  width: 100vw;
  display: grid;
  justify-content: center;
}

.contacts-section {
  display: flex;
  gap: 111px;
}

@media (max-width: 1260px) {
  .contacts-section {
    gap: 75px;
  }
}

@media (max-width: 744px) {
  .contacts-section {
    display: grid;
    gap: 48px;
  }
}

.form-botom {
  width: 411px;
  margin-top: 32px;
  text-align: center;
}

.contact-info {
  display: flex;
  gap: 24px;

  &-item {
    width: 237;
    height: 185;
  }
}

@media (max-width: 1260px) {
  .contact-info {
    display: grid;
    gap: 48px;
  }
}

.contact-p {
  font-family: Cinzel,sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0;
}

form {
  display: grid;
  gap: 16px;
}

.input-siz {
  font-family: Cinzel,sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  box-sizing: border-box;

  padding: 14px 16px;
  width: 411px;
  height: 48;
  border: none;
  background-color: #f8f8fa;
}

.textarea {
  font-family: Cinzel,sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  padding: 14px 16px;
  width: 411px;
  height: 144px;
  border: none;
  background-color: #f8f8fa;
  resize: none;
  box-sizing: border-box;
  text-align: start;
}

.input-siz:hover,
.textarea:hover {
  color: #161616;
  border: 1px solid #d5d7de;
}

.input-siz:active,
.textarea:active {
  color: #161616;
  border: 1px solid #161616;
}

@media (max-width: 1260px) {
  .input-siz,
  .textarea,
  .form-botom {
    width: 288px;
  }
}

@media (max-width: 744px) {
  .input-siz,
  .textarea,
  .form-botom {
    width: 280px;
  }
}

input::placeholder {
  color: #7e7e83;
  font-family: Cinzel,sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
}
