@media (max-width: 1260px) {
  .contacts {
    width: 600px;
    margin-bottom: 156px;
  }
}

@media (max-width: 744px) {
  .contacts {
    width: 280px;
    margin-bottom: 84px;
  }
}

.contacts {
  width: 100vw;
  display: grid;
  justify-content: center;
  margin-bottom: 134px;
}

@media (max-width: 1260px) {
  .contacts {
    margin-bottom: 156px;
  }
}

@media (max-width: 744px) {
  .contacts {
    margin-bottom: 156px;
  }
}

.contacts-section {
  display: flex;
  gap: 111px;

}

@media (max-width: 1260px) {
  .contacts-section {
    gap: 75px;
  }
}

@media (max-width: 744px) {
  .contacts-section {
    display: grid;
    gap: 48px;
  }
}

.form-botom {
  padding: 0;
  border: none;
  width: 411px;
  text-align: center;
}

.form-botom-text{
  color: #fff;
  font-family: Cinzel, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 27px;
}

.contact-info {
  display: flex;
  gap: 24px;

  &-item {
    width: 237;
    height: 185;
  }
}

@media (max-width: 1260px) {
  .contact-info {
    display: grid;
    gap: 48px;
  }
}

.contact-p {
  font-family: Cinzel, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0;
}

form {
  display: grid;
  gap: 16px;
}

@media (max-width:744px) {
  form {
    margin-top: 48px;
  }
}

.input {
  font-family: Cinzel, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  box-sizing: border-box;

  padding: 14px 16px;
  width: 411px;
  height: 48;
  border: none;
  background-color: #f8f8fa;
}

.textarea {
  font-family: Cinzel, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  padding: 14px 16px;
  width: 411px;
  height: 144px;
  border: none;
  background-color: #f8f8fa;
  resize: none;
  box-sizing: border-box;
  text-align: start;
}

.input:hover,
.textarea:hover {
  color: #161616;
  border: 1px solid #d5d7de;
}

.input:active,
.textarea:active {
  color: #161616;
  border: 1px solid #161616;
}

@media (max-width: 1260px) {
  .input,
  .textarea,
  .form-botom {
    width: 288px;
  }
}

@media (max-width: 744px) {
  .input,
  .textarea,
  .form-botom {
    width: 280px;
  }
}

input::placeholder {
  color: #7e7e83;
  font-family: Cinzel, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
}

input::placeholder,
textarea::placeholder {
  transition: all 0.3s ease;
}

input:hover::placeholder,
textarea:hover::placeholder {
  color: #161616;
}

.contact-text-bolt {
  font-family: Cinzel, sans-serif;
font-weight: 700;
font-style: Bold;
font-size: 16px;
line-height: 140%;
letter-spacing: 0;
color: #3E3E3E;
text-decoration: none;
transition: all 0.3s ease-in-out;
}

.contact-text-bolt:hover {
  color: #161616;
}
