.footer {
  height: 359;
  display: block;
  background-image: url(/src/images/scrin/bottom1260.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 134px;
}
