.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: #222;
  height: 359px;
  display: block;
  background-image: url(../images/scrin/bottom1260.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
