.header {
  padding: 50px 120px;
  display: block;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  background-image: url(/src/images/scrin/page1260.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 1260px) {
  .header {
    padding: 50px 72px;
  }
}

@media (max-width: 744px) {
  .header {
    padding: 20px 25px;
  }
}

.header-midl {
  margin-top: 83px;
}

@media (max-width: 1260px) {
  .header-midl {
    margin-top: 141px;
  }
}

@media (max-width: 744px) {
  .header-midl {
    margin-top: 129px;
  }
}

.header-text {
  text-align: center;
  width: 498;
  height: 160;
  font-family: Cinzel, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: -1.5px;
  vertical-align: middle;
  color: #ffff;
}

@media (max-width: 1260px) {
  .header-text {
    text-align: center;
    width: 392px;
    height: 128px;
    color: #ffff;
    font-family: Cinzel, sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -1.5px;
    vertical-align: middle;
  }
}

@media (max-width: 744px) {
  .header-text {
    color: #ffff;
    text-align: center;
    width: 280;
    height: 80;
    font-family: Cinzel, sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: -1.5px;
    vertical-align: middle;
  }
}

.contact-number {
  text-decoration: none;
  &::after {
    display: block;
    content: '';
    margin-top: 8px;
    background-color: #fff;
    height: 1px;
    width: 100%;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }
}

.contact-number:hover::after {
  visibility: visible;
  transform: scaleX(1);
}
