.logo {
  width: 87px;
  height: 65px;
  background-image: url(/src/images/icon/THE\ MET\ \(3\).png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 744px) {
  .logo {
    width: 64px;
    height: 46px;
  }
}

.icon {
  width: 32px;
  height: 32px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 744px) {
  .icon {
    width: 24px;
    height: 24px;
  }
}

.icon-phone {
  background-image: url(/src/images/icon/phone.png);
}

.icon-burger {
  background-image: url(/src/images/icon/burger.png);
}

.icon-burger:hover {
  background-image: url(/src/images/icon/burger-hover.png);
  animation-name: none;
  animation-duration: 3s;
}

.icon-cros {
  background-image: url(/src/images/icon/cros.png);
}
