.logo {
  width: 87px;
  height: 65px;
  background-image: url(./images/icon/THEMET.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 744px) {
  .logo {
    width: 64px;
    height: 46px;
  }
}

.icon {
  width: 24px;
  height: 24px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.3s ease;
}

.icon-phone {
  background-image: url(./images/icon/phone.svg);
}

@media (max-width: 744px) {
  .icon-phone {
    width: 18px;
    height: 18px;
  }
}

.icon-burger {
  height: 16px;
  background-image: url(./images/icon/burger.svg);
  transition: background-image 0.3s ease;
}

.icon-burger:hover {
  background-image: url(./images/icon/burgerHover.svg);
}

@media (max-width: 744px) {
  .icon-burger,
  .icon-burger:hover {
    width: 18px;
    height: 12px;
  }
}

.icon-cros {
  width: 21.33px;
  height: 21.33px;
  background-image: url(./images/icon/cros.svg);
}

@media (max-width: 744px) {
  .icon-cros {
    width: 16px;
    height: 16px;
  }
}

@media (max-width: 744px) {
  .icon-cros {
    width: 16px;
    height: 16px;
  }
}
