@import 'header';
@import 'aside';
@import './icon';
@import './museum';
@import './onView';
@import './footer';
@import './explore';
@import './contact';

html {
  scroll-behavior: smooth;
};

body {
  margin: 0;
    overflow-x: hidden;
}

.content {
  position: relative;
  z-index: 1;
  background: #fff;
  margin-bottom: 359px;
  display: grid;
  width: 100vw;
  gap: 140px;
}

@media (max-width: 744px) {
  .content {
    gap: 100px;
  }
}

h2 {
  font-family: Cinzel, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1.5px;
  margin-bottom: 48px;
}

@media (max-width: 744px) {
  h2 {
    font-size: 32px;
    line-height: 32px;
  }
}

h3 {
  font-family: Cinzel, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0;
  margin: 0;
}

p {
  overflow-wrap: break-word;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-midl {
  display: flex;
  justify-content: center;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 55px;
}

@media (max-width: 1260px) {
  .navigation {
    gap: 27px;
  }
}

.phone-number {
  display: grid;
  position: absolute;
  right: 220px;
  top: 28.5PX;
}

@media (max-width: 1260px) {
  .phone-number {
    right: 145px;
  }
}

@media (max-width: 744px) {
  .phone-number {
    top: 12px;
    right: 95px;
  }
}

.displey-none {
  display: none;
}

.number-1,
.number-2 {
  color: #fff;
  font-family: Cinzel, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0;
  vertical-align: middle;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

@media (max-width : 744px) {
  .number-1,
.number-2 {
  font-size: 14px;
  line-height: 24px;
}
}

.section-titel {
  text-align: center;
}

img {
  transition: transform 0.3s ease;
  cursor: pointer;
  display: block;
  overflow: hidden;
}

img:hover {
  transform: scale(1.02);
}

.no-scroll {
  overflow: hidden;
}

