.museum{
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 138px;
  gap: 24px;
}

@media (max-width: 1260px) {
  .museum {
    margin-top: 140px;
 }
}

@media (max-width: 744px) {
  .museum {
     display: grid;
    margin-top: 100px;
    gap: 24px;
  }
}

.openTime {
  display: flex;
  gap: 24px;
}

.text-bold {
  font-family: Cinzel,sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0;
}

p {
  margin: 8px 0;
  line-height: 27px;
}

.museum-titel {
  margin: 0;
}

.close {
  margin-top: 16px;
  height: 81px;
}

.closed-p {
  font-family: Cinzel,sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0;
}

.museum-section1 {
  width: 411px;
}

@media (max-width: 1260px) {
  .museum-section1 {
    width: 288px;
  }
}

.museum-sections2 {
  display: grid;
  gap: 24px;
  width: 516px;
}

@media (max-width: 1260px) {
  .museum-sections2 {
    width: 288px;
    height: 422px;
  }
}

.red14px {
  color: #d12d35;
  font-family: Cinzel,sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 0;
  margin: 0 2px;
  height: auto;
}
